node {
  diameter: 100px;
  color: #A5ABB6;
  border-color: #9AA1AC;
  border-width: 2px;
  text-color-internal: #FFFFFF;
  font-size: 10px;
}

relationship {
  color: #A5ABB6;
  shaft-width: 2px;
  font-size: 14px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  caption: '<type>';
}

relationship.has_child {
  color: #007FFF;
  shaft-width: 3px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  caption: '<type>';
}
/*******************************************************/
/* Styling for provenance graphs */
relationship.Provenance {
  color: #B51031;
  shaft-width: 3px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  caption: '<type>';
}
node.RootNode {
  color: #FF7FFF;
  border-color: #0066CC;
  text-color-internal: #FFFFFF;
/*  caption: '{Key}';  */
  caption: '{AttributeName}';
  diameter: 100px;
}

node.SubNode {
  color: #007FFF;
  border-color: #0066CC;
  text-color-internal: #FFFFFF;
/*  caption: '{Key}';  */
  caption: '{AttributeName}';
  diameter: 100px;
}
/*******************************************************/
/* Styling for these graphs:
 1. database graphs
 2. process a query graph
 Leave the Foo item in place. The first styler after this comment seems to be ignored
*/
node.Foo {
  diameter: 150px;
  color: #FF0000;
  border-color: #FFFFFF;
  text-color-internal: #000000;
  caption: '{name}';
}
node.Affected_Attribute {
  diameter: 100px;
  color: #505160;
  border-color: #FFFFFF;
  text-color-internal: #000000;
  ternal: #FFFFFF;
  caption: '{name}';
}
node.affected_attribute {
  diameter: 100px;
  color: #505160;
  border-color: #FFFFFF;
  text-color-internal: #000000;
  caption: '{name}';
}
node.Table {
  diameter: 100px;
  color: #fe4a49;
  border-color: #ffffff;
  text-color-internal: #000000;
  caption: '{name}';
  font-size: 12px;
}
node.table {
  diameter: 100px;
  color: #fe4a49;
  border-color: #ffffff;
  text-color-internal: #000000;
  caption: '{name}';
  font-size: 12px;
}

node.Attribute {
  diameter: 100px;
  color: #2ab7ca;
  border-color: #FFFFFF;
  text-color-internal: #000000;
  caption: '{name}';
  font-size: 10px;
}

node.attribute {
  diameter: 100px;
  color: #FFF380;
  border-color: #FFFFFF;
  text-color-internal: #000000;
  caption: '{name}';
  font-size: 10px;
}

node.Query {
  diameter: 100px;
  color: #fed766;
  border-color: #FFFFFF;
  text-color-internal: #000000;
  caption: '{name}';
  font-size: 12px;
}

node.query {
  diameter: 100px;
  color: #fed766;
  border-color: #FFFFFF;
  text-color-internal: #000000;
  caption: '{name}';
  font-size: 12px;
}

node.Schema {
  diameter: 100px;
  color: #FFFFFF;
  border-color: #000000;
  text-color-internal: #000000;
  caption: '{name}';
  font-size: 12px;
}

node.schema {
  diameter: 100px;
  color: #FFFFFF;
  border-color: #FFFFFF;
  text-color-internal: #000000;
  caption: '{name}';
  font-size: 12px;
}

node.view {
  diameter: 100px;
  color: #990000;
  border-color: #FFFFFF;
  text-color-internal: #000000;
  caption: '{name}';
  font-size: 12px;
}

node.etl_step {
  diameter: 100px;
  color: #0000CC;
  border-color: #000000;
  text-color-internal: #FFFFFF;
  caption: '{stepname}';
  font-size: 12px;
}

/*******************************************************/

/* Styling for these graphs:
 1. Schema Evolution impact
*/
node.Foop {
  diameter: 150px;
  color: #FF0000;
  border-color: #FFFFFF;
  text-color-internal: #FFFFFF;
  caption: '{name}';
}

node.SchemaEvolutionImpact {
  diameter: 150px;
  color: #888800;
  border-color: #FFFFFF;
  text-color-internal: #FFFFFF;
  caption: '{name}';
}

/*******************************************************/

/* Styling for these graphs:
 1. Graph Comparison Results
*/
node.Dummy {
  diameter: 150px;
  color: #FF0000;
  border-color: #FFFFFF;
  text-color-internal: #FFFFFF;
  caption: '{name}';
}

node.Matched {
  diameter: 100px;
  color: #FF0000;
  border-color: #FFFFFF;
  text-color-internal: #FFFFFF;
  caption: '{name}';
}

node.Unmatched {
  diameter: 100px;
  color: #888800;
  border-color: #FFFFFF;
  text-color-internal: #FFFFFF;
  caption: '{name}';
}

relationship.Matched {
  color: #FF0000;
  text-color-internal: #FFFFFF;
  shaft-width: 3px;
}

relationship.Unmatched {
  color: #888800;
  text-color-internal: #FFFFFF;
  shaft-width: 6px;
}


