node {
  diameter: 50px;
  color: #A5ABB6;
  border-color: #9AA1AC;
  border-width: 2px;
  text-color-internal: #FFFFFF;
  font-size: 10px;
}

relationship {
  color: #A5ABB6;
  shaft-width: 1px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  caption: '<type>';
}

relationship.has_child {
  color: #007FFF;
  shaft-width: 3px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  caption: '<type>';
}

relationship.Provenance {
  color: #B51031;
  shaft-width: 3px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  caption: '<type>';
}
node.RootNode {
  color: #FF7FFF;
  border-color: #0066CC;
  text-color-internal: #FFFFFF;
  caption: '{Key}';
  diameter: 50px;
}

node.SubNode {
  color: #007FFF;
  border-color: #0066CC;
  text-color-internal: #FFFFFF;
  caption: '{Key}';
  diameter: 50px;
}

node.Table {
  color: #0000FF;
  border-color: #0066CC;
  text-color-internal: #FFFFFF;
  caption: '{name}';
  diameter: 50px;
}

node.Attribute {
  color: #007F00;
  border-color: #0066CC;
  text-color-internal: #FFFFFF;
  caption: '{name}';
  diameter: 50px;
}

node.Query {
  color: #0000FF;
  border-color: #0066CC;
  text-color-internal: #FFFFFF;
  caption: '{name}';
  diameter: 50px;
}

node.Schema {
  color: #000000;
  border-color: #0066CC;
  text-color-internal: #FFFFFF;
  caption: '{name}';
  diameter: 50px;
}


