node {
  diameter: 100px;
  color: #A5ABB6;
  border-color: #9AA1AC;
  border-width: 2px;
  text-color-internal: #FFFFFF;
  font-size: 10px;
}

relationship {
  color: #A5ABB6;
  shaft-width: 1px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  caption: '<type>';
}

relationship.has_child {
  color: #007FFF;
  shaft-width: 3px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  caption: '<type>';
}
/*******************************************************/
/* Styling for provenance graphs */
relationship.Provenance {
  color: #B51031;
  shaft-width: 3px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  caption: '<type>';
}
node.RootNode {
  color: #FF7FFF;
  border-color: #0066CC;
  text-color-internal: #FFFFFF;
/*  caption: '{Key}';  */
  caption: '{AttributeName}';
  diameter: 100px;
}

node.SubNode {
  color: #007FFF;
  border-color: #0066CC;
  text-color-internal: #FFFFFF;
/*  caption: '{Key}';  */
  caption: '{AttributeName}';
  diameter: 100px;
}
/*******************************************************/
/* Styling for these graphs:
 1. schema topology graphs
 2. process a query 
*/
node.Foo {
  diameter: 200px;
  color: #FF0000;
  border-color: #FFFFFF;
  text-color-internal: #FFFFFF;
  caption: '{name}';
}
node.Table {
  diameter: 200px;
  color: #FF0000;
  border-color: #FFFFFF;
  text-color-internal: #FFFFFF;
  caption: '{name}';
}

node.Attribute {
  diameter: 100px;
  color: #800080;
  border-color: #FFFFFF;
  text-color-internal: #FFFFFF;
  caption: '{name}';
}

node.Query {
  diameter: 100px;
  color: #00FF00;
  border-color: #FFFFFF;
  text-color-internal: #FFFFFF;
  caption: '{name}';
}

node.Schema {
  diameter: 100px;
  color: #0000FF;
  border-color: #FFFFFF;
  text-color-internal: #000000;
  caption: '{name}';
}
/*******************************************************/


